@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    color: #555555;
    font-family: 'Open Sans';
    font-size: 10pt;
    /*font: 14px/1.5 Lato, sans-serif;
    font-weight: 300;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    margin:0 0 20px;
}

h1, h2, h3 {
    line-height:1.1;
}

h1 {
    color:#393939;
    margin: 0 0 40px;
    padding: 0;
    font-size: 300%;
}

h2 {
    color:#494949;
    font-size: 200%;
}

h3 {
    color:#555555;
    font-size: 175%;
}

h4, h5, h6 {
    color:#777777;
    font-size: 150%;
}

a {
    color: #67ad00;
    text-decoration:none;
}

a:hover {
    opacity:0.75;
}

a small {
    font-size:11px;
    color:#777777;
    margin-top:-0.6em;
    display:block;
}

a:hover small {
    opacity:0.75;
}

p, ul, ol, table, pre, dl {
    /*margin:0 0 20px;*/
}

blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic;
}

code, pre {
    font-family:Inconsolata;
    color:#777777;
    font-size:12px;
}

code {
    display:inline-block;
    white-space:no-wrap;
    background:#fff;
    font-size:.8em;
    line-height:1.5em;
    border:1px solid #e5e5e5;
    -webkit-border-radius:0.4em;
    -moz-border-radius:0.4em;
    -ms-border-radius:0.4em;
    -o-border-radius:0.4em;
    border-radius:0.4em;
    padding:0 .3em;
    margin:-1px 0
}

pre {
    padding:8px 15px;
    background: #f8f8f8;
    border-radius:5px;
    border:1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width:80%;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}

.table-number {
    font-weight:700;
}

th, td {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #e5e5e5;
}

dt {
    color:#444444;
    font-weight:700;
}

th {
    color:#444444;
}

img {
    max-width:100%;
}

img.hidden {
    display: none;
}

.figure {
    text-align: center;
}

.figure-number {
    font-weight:700;
}

#table-of-contents {
    margin-bottom: 40px;
}

#toc {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 9999;
}

#toc .button {
    padding-right: 5px;
    position: fixed;
    right: inherit;
    cursor: default;
    font-size: 20px;
}

#toc div {
    height: 0;
    width: 0;
    margin-top: 35px;
    font-size: 11px;
    display: none;
}

#toc:hover div {
    width: 250px;
    height: auto;
    padding-right: 1.5em;
    background: #FFFFFF;
    /*opacity: .85;*/
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius:4px;
    overflow: hidden;
    display: block;
}

#toc ul {
    color: #67ad00;
}

#toc:hover:before {
    content: "";
    position:absolute;
    top:19px;
    right:10px;
    width:0;height:0;
    border-color: transparent transparent rgba(0,0,0,0.03) transparent;
    border-width:8px;
    border-style:solid;
}

#toc:hover:after {
    content: "";
    position:absolute;
    top:20px;
    right:10px;
    width:0;height:0;
    border-color: transparent transparent #ffffff transparent;
    border-width:8px;
    border-style:solid;
}

#spinner {
    position: fixed;
    bottom: 10px;
    left: 20px;
}

#spinner > div {
    width: 8px;
    height: 8px;
    background-color: #555555;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#spinner #bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#spinner #bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#content {
    width:700px;
    float:right;
    padding-bottom:50px;
/* border:1px solid #e5e5e5; */
/* border-width:1px 0; */
/* padding:20px 0; */
/* margin:0 0 20px; */
}

strong {
    color:#222;
    font-weight:700;
}

small {
    font-size:11px;
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px;
}

.footpara {
    display: inline;
}

.scrollbar-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 20px;

    border: 4px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: whiteSmoke;
}
.scrollbar-container .inner {
    height: 2011px;
    width: 1985px;
    padding: 1em;
    background-color: white;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid whiteSmoke 4px;
    border-radius:15px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    width:270px;
    float:left;
    position:fixed;
    bottom:50px;
}

#preamble {
    position: fixed;
    top: 35px;
    right: 20px;
    padding-right: 5px;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
}

#postamble {
    clear: both;
    text-align: center;
    font-size:10px;
}

@media print, screen and (max-width: 960px) {

    body {
        width:auto;
        margin:0;
    }

    header, content, footer {
        float:none;
        position:static;
        width:auto;
    }

    header {
        padding-right:320px;
    }

    header a small {
        display:inline;
    }

    header ul {
        position:absolute;
        right:50px;
        top:52px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap:break-word;
    }

    header {
        padding:0;
    }

    header ul, header p.view {
        position:static;
    }

    pre, code {
        word-wrap:normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding:15px;
    }

    header ul {
        display:none;
    }
}

@media print {
    body {
        padding:0.4in;
        font-size:12pt;
        color:#444;
    }
}
.footdef{
font-size: 10px;
right: 0;
position: absolute;
width:180px;
}
